<!-- ###REPORT### begin -->
This is a detailed report created from a template.

We simply list all bugs reported.
----------
###BUGS###
----------
That's it. End of report.
<!-- ###REPORT### end -->

<!-- ###BUG### begin -->
Bug ###ID###: ###STATUS### - ###SUMMARY### (###VERSION###)
<!-- ###BUG### end -->